<!-- <section>
    <h2>pipes demo</h2>
    <div>
        <h1>String</h1>
        <p><strong>Original</strong><strong><em>{{strData}}</em></strong></p>
        <p><strong>Uppercase</strong><strong><em>{{strData|Uppercase}}</em></strong></p>
        <p><strong>lowercase</strong><strong><em>{{strData|Lowercase}}</em></strong></p>
    </div>

    <div>
        <h3>Numeric pipes</h3>
        <p><strong>Original</strong><strong><em>{{numData}}</em></strong></p>
        <p><strong>Percent:</strong><strong><em>{{numdata|percent}}</em></strong></p>
        <p><strong>Indian Rupees</strong><strong><em>{{numData|currency: 'INR'}}</em></strong></p>
    </div>
</section> -->

<section>
    <div>
        <p>
        <strong>3012 verbally is </strong>
        <strong><em>{{3012|verbal}}</em></strong>
        </p>
    </div>
</section>